

  $green: #03fb41;
 
  .green:hover {
    background-color: $green !important;
  }

  $blue:blue;
  .blue:hover {
    background-color: $blue !important;
  }

  

  $red:red;
  .red:hover {
    background-color: $red !important;
  }

  $gray:gray;
  .gray:hover {
    background-color: $gray !important;
  }

  $sky_blue:#41c1f4;
  .sky_blue:hover {
    background-color: $sky_blue !important;
  }

  $yellow:yellow;
  .yellow:hover {
    background-color: $yellow !important;
  }

  $darkblue: #00008B ;
  .darkblue:hover {
    background-color: $darkblue!important;
  }

  $indigo:indigo ;
  .indigo:hover {
    background-color: $indigo !important;
  }

  $violet:#7F00FF;
  .violet:hover {
    background-color: $violet !important;
  }

  $brown:brown;
  .brown:hover {
    background-color: $brown !important;
  }

  $orange:orange;
  .orange:hover {
    background-color: $orange !important;
  }

  